/1lab.rb
/2lab.rb
/3lab.rb
/4lab.rb
/5lab.rb
/6lab.rb
/7lab.rb
/8lab1.rb
/8lab2.rb
/8lab3.rb
/ГарасЗвітЛабРоб1Ruby.docx
/ГарасЗвітЛабРоб2Ruby.docx
/ГарасЗвітЛабРоб3Ruby.docx
/ГарасЗвітЛабРоб4Ruby.docx
/ГарасЗвітЛабРоб5Ruby.docx
/ГарасЗвітЛабРоб6Ruby.docx
/ГарасЗвітЛабРоб7Ruby.docx
/ГарасЗвітЛабРоб8Ruby.docx
/ЗвітПрикладс.docx